	  <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
      <div class="container para-height">
        <div class="row">
          <div class="col text-right py-4">
            <h5 class="text-secondary">GoDrive</h5>
            <p class="text-secondary font-small">Copyright &copy; Rezwana
              <span id="year"></span>
            </p>
            <p class="text-secondary font-small">This website is not for commercial use but a demo of it.</p>
            <p class="text-secondary font-small">Pictures and details are taken from internet to create a school project.</p>
            <p class="text-secondary font-small">For any inquiry <strong>email:</strong> <a href="mailto:rezwanatech@gmail.com">Rezwana Sultana</a></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script>
      // Get the current year for the copyright
      $('#year').text(new Date().getFullYear());

    </script>