<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>GoDrive Car Rental</title>
</head>
<body>
    <div class="main-page">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="uploads/travel.mp4" type="video/mp4">
        </video>

      <nav>
        <img src="uploads/logo.png" alt="">
        <div class="text-center"> 
            <a class="btn btn-dark" href="/users/signin">Log in</a>
            <a class="btn btn-dark" href="/users/register">Sign Up</a>
        </div>
        </nav>  

        <div class="content"> <h1 class="text-center mt-5">Find your drive</h1>
            <h3 class="text-center mt-5">Discover GoDrive, car sharing marketplace in DMV area</h3>
        </div>
        
        
        </div>
   
    
</body>
</html>