body {
  background-color: #333;
  color: #fff;
}

.main-page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-new {
  max-width: 800px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .logo {
  width: 80px;
}

/* .navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
} */

nav ul li {
  list-style: none;
  display: inline-block;
}

.nav-link {
  text-decoration: underline;
}

.search-form {
  margin-right: 10px;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  z-index: 5;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 70px;
  color: white;
  font-weight: 600;
  transition: 0.5;
}

.content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

/* //Sign in and register page */
#home-section {
  background: url(../uploads/car1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#register-section {
  background: url(../uploads/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}


#home-section .dark-overlay,
#register-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner,
#register-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form,
#register-section .card-form {
  opacity: 0.7;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* //index  */

#page-header {
  height: 200px;
  background: url('../uploads/road.jpg');
  background-position: -5px -600px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 30px;
  opacity: 0.5;
}

#new-page-header {
  height: 200px;
  background: url('../uploads/auto.jpg');
  background-position: -50px -647px;
  background-attachment: fixed;
  color: rgb(9, 8, 8);
  border-bottom: 1px #eee solid;
  padding-top: 30px;
  opacity: 0.8;
}

#host-page-header {
  height: 200px;
  background: url('../uploads/longroadjpg.jpg');
  background-position: -50px -647px;
  background-attachment: fixed;
  color: rgb(9, 8, 8);
  border-bottom: 1px #eee solid;
  padding-top: 30px;
  opacity: 0.8;
}

#final-page-header {
  height: 100vh;
  background: url('../uploads/finalpage.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(9, 8, 8);
  border-bottom: 1px #eee solid;
  padding-top: 30px;
  opacity: 0.8;
}

.hide {
  display: none;
}

.input-search {
  margin-right: 20px;
}


a {
  text-decoration: none;
}

.font-small {
   font-size: small;
}
footer {
  margin-top: 5%;
}

.para-height {
  line-height: 0;
  text-align: right;
}

.acc-link {
  margin-left: auto;
}

.card {
  border: 1px solid #444;
  margin: 2px;
}

.dropdown-menu {
  padding: 20px;
}

/* .card-body, .card-header {
    background: rgb(248, 244, 244);
  }
   */
input::placeholder {
  color: rgb(200, 197, 197) !important;
  opacity: 1;
}

.circle {
  width: 50px;
  height: 50px;
  padding: 16px 5px;
  border-radius: 60px;
  font-size: 12px;
  text-align: center;
}

/* //media queries */

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }

}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}